{% extends 'base.html.twig' %}

{% block title %}Ânes-OK | Tarifs{% endblock %}
{% block header_img %}
    <img src="/img/bckgnd_header_tarifs.jpg" class="bckgnd_top" alt="">
{% endblock %}
{% block body %}

    <section id="tarifs">
        <h2 class="titre_section text_center">Prix d'une promenade</h2>
        <hr>
        <div class="texte_section">
            <div class="table_prix">
                <div class="prix" id="prix01">
                    <span class="euros">12 €</span>
                    <span class="temps">1 heure</span>
                </div>
                <div class="prix" id="prix02">
                    <span class="euros">28 €</span>
                    <span class="temps">1/2 journéee</span>
                </div>
                <div class="prix" id="prix03">
                    <span class="euros">50 €</span>
                    <span class="temps">1 journée</span>
                </div>
            </div>

            <p>Nous vous prêtons une carte de la région de <strong>Francorchamps</strong>.</p>
            <p>Par respect pour les ânes et afin d’organiser au mieux l’agenda il est souhaitable de réserver préalablement pour une demi-journée ou plus.</p>
            <p>A la demande nous pouvons nous déplacer afin de venir rechercher les ânes à un endroit convenu (une intervention est demandée au km).</p>
            <p><b>Durant la balade l’âne est sous l’entière responsabilité de celui qui le loue.</b></p>
        </div>
        <div class="image_section">
            <img src="/img/tarifs_01.jpg" alt="promenade" class="img_center rounded">
        </div>
    </section>
    <section id="randonnee">
        <h2 class="titre_section text_center">Randonnée de deux jours</h2>
        <hr>
        <div class="texte_section">
            <p>Partir en <strong>famille</strong> avec des ânes…</p>
            <p>Découvrir de superbes paysages dans la région des Fagnes… Avec un peu de chance, voir du gibier (chevreuil, biche, sanglier)…</p>
            <p>Planter sa tente à proximité d’un gîte où vous pourrez bénéficier, si vous le souhaitez, d’un point d’eau pour faire votre toilette. Louer le gîte si vous ne souhaitez pas dormir sous tente,…</p>
            <p>Notre première famille est partie : 4 adultes, 4 enfants, 2 ânes. Munis d’une carte et d’explications sur ce qu’ils allaient pouvoir découvrir, ils sont revenus enchantés de leurs aventures et prêts à repartir.</p>
            <p>Alors, qu’attendez-vous ?</p>
            <p>N’hésitez pas… Contactez-nous. C’est avec plaisir que nous vous renseignerons.</p>
            <p><b>A bientôt.</b></p>
        </div>
        <div class="image_section">
            <img src="/img/tarifs_02.jpg" alt="randonnee" class="img_center rounded">
        </div>
    </section>
{% endblock %}