{% extends 'base.html.twig' %}

{% block title %}Ânes-OK | Contact{% endblock %}
{% block header_img %}
    <img src="/img/bckgnd_header_contact.jpg" class="bckgnd_top" alt="">
{% endblock %}
{% block body %}
    <section id="contact_section" class="grid_section">
        <h2 class="titre_section text_center">Envoyez nous un message</h2>
        <hr>
        <div class="texte_section">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="image_section">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7181.003111770233!2d5.984127515993185!3d50.480801092740094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c07ce1f1fb0809%3A0x4ee35afb5959ddba!2sAnes-Ok!5e0!3m2!1sfr!2sbe!4v1532175580549" width="100%" height="505" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>
{% endblock %}
