.footer{
  background: $bleu url("/img/fond-footer-smart.jpg") repeat-x bottom;
  color: inherit;
  min-height: 720px;
  overflow: hidden;

  .footer_child{
    margin: $margesGenerales;

    p{
      margin-left: 0;
      color: $blanc;
    }

  }
}

#footer_3{
  ul{
    display: grid;
    grid-template-columns: repeat(3, 75px);
    margin-top: 1rem;
  }

  .social_logo{
    margin: 1rem 1rem 0 0;
    display: inline-block;
  }
}

