footer{
  background: $bleu url("/img/fond-footer-smart.jpg") repeat-x bottom;
  color: inherit;
  min-height: 72rem;
  overflow: hidden;

  .footer_child{
    margin: $margesGenerales;

    h3{
      font-size: $tailleH3Min;
      line-height: $lineHeightH3Min;
    }

    p{
      margin-left: 0;
      color: $blanc;
    }

  }
}

#footer_3{
  ul{
    display: grid;
    grid-template-columns: repeat(3, 75px);
    margin-top: 1rem;
  }

  .social_logo{
    margin: 1rem 1rem 0 0;
    display: inline-block;

    img{
      width: 4rem;
    }
  }
}

/*******************************************************************************/
/* SMARTPHONE ******************************************************************/
/*******************************************************************************/
@media all and (min-device-width: $minSmart) and (min-width: $minTab+100) {

}

/*******************************************************************************/
/* TABLETTES *******************************************************************/
/*******************************************************************************/
@media all and (min-device-width: $minTab) and (min-width: $minTab+100) {
  footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 32rem;

    .footer_child {
      display: block;
      margin: $margesGenerales auto;
    }
  }
}

/*******************************************************************************/
/* DESKTOP *********************************************************************/
/*******************************************************************************/
@media all and (min-device-width: $minDesk) and (min-width: $minDesk) {

}