.table_prix{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: $margesGenerales;

  .prix{
    display: grid;
    grid-template-rows: repeat(2, 10rem);
    text-align: center;
    color: #fff;
    background-color: inherit;
    width: 20rem;
    margin: 0 auto;

    .euros{
      font-family: barutablack, sans-serif;
      font-size: 7rem;
      margin-top: 7rem;
    }

    .temps{
      font-size: 3rem;
      margin-top: 2rem;
    }
  }
}

#prix01{
  background-color: #d01c63;
  color: #fff;
}

#prix02{
  background-color: #386066;
  color: #fff;
}

#prix03{
  background-color: #697747;
  color: #fff;
}